# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Keil specific
Project/**/Debug/
Project/RVMDK-*/RTE/
Project/RVMDK-*/DebugConfig/
Project/RVMDK-*/RMP.BAT/
*.uvgui*
*.uvopt*
*.dep
*.TMP
*.axf
*.lnp
*.log
*.log.*
*.build_log.*
*.scvd
*Log.txt
JLinkLog.txt
JLinkSettings.ini

# Makefile
Project/*MF-*/Object*/
Project/*MF-*/.vscode*/

# CCS/Eclipse specific
Project/**/.jxbrowser-data/
Project/**/.metadata/
Project/**/.tempFiles/
Project/**/.jxbrowser.userdata/
Project/**/RemoteSystemsTempFiles/

#MPLAB X specific
Project/MPLAB-*/RMP.X/.generated_files
Project/MPLAB-*/RMP.X/disassembly
Project/MPLAB-*/RMP.X/dist

#ATMEL Studio specific
Project/ATS-*/.vs/

#E2STUDIO specific
Project/E2STUDIO-*/.eclipse/

